.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
.screen {
    background-color: #fff;
    padding: 0;
    height: 650px;
    width: 366px;
    position: absolute;
    left: 30%;
    top: 0;
    transform: translate(-30%, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 30px 0;
}
.coverImage {
    background-size: cover;
    width: 366px;
    height: 366px;
    padding: 0;
    margin: 0;
    position: block;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}
.search {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 23px;
    right: 23px;
    font-family: FontAwesome;
    content: '\f002';
    color: #959595;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
}
.player {
    background: none;
    text-align: center;
    font-family: FontAwesome;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    width: 216px;
    height: 35px;
    position: absolute;
    bottom: 40px;
    left: 48%;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all 0.3s ease-in;
    border-spacing: 0;
}
.backward {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}
.play {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}
.forward {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}