.details {
  font-size: 1.2em !important;
}
.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
.screen {
    background-color: #fff;
    padding: 0;
    height: 600px;
    position: absolute;
    /*left: 30%;*/
    top: 0;
    /*transform: translate(-30%, 0);*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 30px 0;
}
.screen2 {
    background-color: #fff;
    padding: 0;
    height: 600px;
    position: absolute;
    top: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 30px 0;
}
.coverImage {
    background-size: cover;
    width: 420px;
    height: 420px;
    padding: 0;
    margin: 0;
    position: block;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}
.search {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 23px;
    right: 23px;
    font-family: FontAwesome;
    content: '\f002';
    color: #959595;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
}
.player {
    background: none;
    text-align: center;
    font-family: FontAwesome;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    width: 216px;
    height: 35px;
    position: absolute;
    bottom: 40px;
    left: 48%;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all 0.3s ease-in;
    border-spacing: 0;
}
.backward {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}
.play {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}
.forward {
    color: black;
    cursor: pointer;
    transition: all 0.15s linear;
}
progress {
    margin-left: 30px;
    background: #555;
    color: #555;
    display: inline-block;
    width: 300px;
    height: 6px;
}
progress[value]::-webkit-progress-value {
  background-color: beige;
}
.start_point {
  margin-left: 10px;
  font-size: 12px;
}
.end_point {
  margin-left: 270px;
  font-size: 12px;
}
.color {
  background-color: green;
}
.containerSize {
  width: 900px;
  left: 30%;
}
.ovcont {padding: 10px; background-color: #fff; height: 175px; overflow: auto;}

.mainwrite {
    text-align: justify;
    font-size: 9.5px;
    font-family: calibri, sans-serif;
    color: #222;
    line-height: 90%;
    padding: 10px;
}

.mainwrite b {
    margin: 5px;
    color: #ffd6da;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 1px 1px white, 2px 2px black;
}

.mainwrite a {
    color: #222;
    font-family: roboto condensed;
    font-size: 7px;
    letter-spacing: 2px;
    font-style: italic;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.mainwrite a:hover {
    color: #ffd6da;
    text-shadow: 0px;
}

.mainwrite p:first-letter {
    color: #fff;
    background-color: #ffd6da;
    padding: 10px;
    margin: 5px 5px 1px 5px;
    font-family: satisfy;
    font-size: 20px;
    text-transform: lowercase;
    float: left;
    text-shadow: 1px 1px 0px #222;
}

.lauzti {
    font-family: satisfy;
    color: #ffd6da;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    text-shadow: 1px 1px 0px white, 2px 2px 0px black;
}
#lauzcont {
    background-color: #ffd6da;
    width: 400px;
    height: 400px;
}